//output:page-main-authenticated.html

html
  head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/js/page-main.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
    link(href="/css/page-main.min.css" rel="stylesheet")
   body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a(href="/").navbar-brand Voted
        ul.nav.navbar-nav.navbar-right
          li.user
            a(href="/user/") {{ uname }}
          li.logout
            a(href="/logout/") Logout  
    div.container
      h1.title Welcome back, {{ uname }}!
      h4.subheading Click #[a(href="/polls/new") here] to make a new poll.
